.homeContainer{
    width: calc(100vw - 300px);
    height: 100%;
    padding: 40px;
    

    h2{
        font-size: 32px;
    }
    .content{
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        flex-grow: 1;
    }
}